.proyect_container{
    margin-top: 100px;
    .title_page-proyect{
        font-size: 3rem;
        color: var(--white);
        margin-bottom: 30px;
    }
    .text_proyect{
        color: var(--white);
    }
}