.container_main{
    padding: 34px;
    border-radius: 80px;
    @include respond-to(sm){
        padding:0;
    }
    .container{
        width: 100%;
        @include respond-to(md){
            padding:0;
        }
    }
    .intro_content{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        .title{
            color: var(--white);
            font-size: 4rem;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            font-weight: bolder;
            margin-bottom: 30px;
            text-shadow: -5px 3px 2px rgba(0, 0, 0, 0.39);
            text-align: center;
            @include respond-to(md){
                font-size: 2rem;
            }
        }
    }
}
