.container_main{
    padding: 34px;
    border-radius: 80px;
    .container{
        width: 100%;
    }
    .intro_content{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        .title{
            color: var(--white);
            font-size: 4rem;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            font-weight: bolder;
            margin-bottom: 30px;
            text-shadow: -5px 3px 2px rgba(0, 0, 0, 0.39);
            text-align: center;
        }
        p{
            color: var(--white);
            margin-bottom: 30px;
        }
    }
    .about-me{
        margin-top: 60px;
        width: 100%;
    }
}
